.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

body {
  background-color: #008CFF;
  color: white;
}

.header {
    text-align: center;
}
.heading {
    font-size: 80px;
    font-weight: bold;

}
.subhead{
    font-size: 30px;
}

.footer {
    text-align: center;
    background-color: #003c6e;
    padding: 10px 0;
    font-weight: italic;
}

.border {
  justify-content: space-between;
  border-radius: 20px;
  background-color: #7CE3F8;
  padding: 20px; 
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.border:hover {
  opacity: 0.8;
}

.images {
  width: 150px;
  height: auto;
  margin-left: 20px;
  border-radius: 10px; 
}

.text {
  text-align: center;
}

.fanpage-icon {
  width: 50px;
  height: auto;
  margin-left: 20px;
  
}

.button {
  background-color: #7CE3F8; 
  color: black; 
}

.button:hover {
  background-color: #008CFF;
  color: white;
}